<h2 class="title">Ember OEmbed</h2>
<p>
  Type Enter a URL below, and we'll try to embed appropriate rich content
</p>
<div class="search-box">
  {{input value=url placeholder='Paste a URL here'}}
</div>

<div class="examples">
  <h3>Examples:</h3>
  <button onclick={{action 'setup-example' "https://soundcloud.com/vaughan-1-1/this-is-what-crazy-looks-like"}}>SoundCloud</button>
  <button onclick={{action 'setup-example' "https://www.facebook.com/levantofinancial/posts/1353060554709816"}}>Facebook</button>
  <button onclick={{action 'setup-example' "https://www.flickr.com/photos/bees/2341623661/"}}>Flickr</button>
  <button onclick={{action 'setup-example' "https://codepen.io/julianshapiro/pen/OPbQKw"}}>Codepen</button>

</div>

<div class="embed">
  <div class="embed-content">
    {{#if url.length}}
      {{#ember-oembed src=url as |x|}}
        <p>
          <h3>{{x.title}}</h3>
          {{x.description}}
        </p>
        {{{x.html}}}
      {{/ember-oembed}}
    {{else}}
      <span class="no-url">No url found</span>
    {{/if}}
  </div>
</div>

